<!DOCTYPE html>
<html>
	<head>
		<title>MATCH THE TILES</title>
		<link rel="stylesheet" type href="../styles/style.css">
		<meta charset ="utf-8"/>
		<script type="text/javascript" src="../src/app.js"></script>
	</head>
	<body>
		<h1 id="Main_Title">
			MATCH THE TILES
		</h1>
		<div id="Final_Result" >
					
		</div>	
			<div class="Main">
				<div class="Row">
					<div class="Element" id="1" onclick="On_Click(event,'a',1)">
						
					</div>
					<div class="Element" id="2" onclick="On_Click(event,'b',2)">
						
					</div>
					<div class="Element" id="3" onclick="On_Click(event,'c',3)">
						
					</div>
					<div class="Element" id="4" onclick="On_Click(event,'d',4)">
						
					</div>
				</div>
				<div class="Row">
					<div class="Element" id="5" onclick="On_Click(event,'e',5)">
						
					</div>
					<div class="Element" id="6" onclick="On_Click(event,'f',6)">
						
					</div>
					<div class="Element" id="7" onclick="On_Click(event,'g',7)">
						
					</div>
					<div class="Element" id="8" onclick="On_Click(event,'h',8)">
						
					</div>
				</div>
				<div class="Row">
					<div class="Element" id="9" onclick="On_Click(event,'i',9)">
						
					</div>
					<div class="Element" id="10" onclick="On_Click(event,'j',10)">
						
					</div>
					<div class="Element" id="11" onclick="On_Click(event,'k',11)">
						
					</div>
					<div class="Element" id="12" onclick="On_Click(event,'l',12)">
						
					</div>
				</div>
				<div class="Row">
					<div class="Element" id="13" onclick="On_Click(event,'m',13)">
						
					</div>
					<div class="Element" id="14" onclick="On_Click(event,'n',14)">
						
					</div>
					<div class="Element" id="15" onclick="On_Click(event,'o',15)">
						
					</div>
					<div class="Element" id="16" onclick="On_Click(event,'p',16)">
						
					</div>
				</div>
			</div>
		
	</body>
</html>